.header-container{
    height: 80px;
    margin-bottom: 60px;
}
.header-fixed{
    padding: 30px;
    width: 100%;
    height: 80px;
    background-color: #EF4036;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.header-fixed h3 {
    text-decoration: none;
    color: black;
}
.header-fixed img{
    position: absolute;
    left: 3%;
}
#pokemonImg{
    width: 150px;
    height: 150px;
}

.select-poke{
    width: 50vw;
    background-color: #ffcb05;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;  
}

.poke-name{
    cursor: pointer;
    font-weight: bold;
    background-color: antiquewhite;
    margin: 10px;
    padding: 10px;
    border: #EF4036 3px solid;
    border-radius: 10px;
    width: 100px;
    transition: .3s;
    text-decoration: none;
    color: black;
}

.poke:hover{
    border: white 3px solid;
    background-color: #EF4036;
}

.poke-info{
    width: 44.5vw;
    height: 400px;
    position: fixed;
    top: 22%;
    right: 0;
    background-color: #fff1f1;
    flex-direction: column;
    padding: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border: 10px solid black;
}

.poke-info h3{
    border: 5px solid black;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

.poke-info img{
    width: 200px;
}